/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Models/_User.php
/nbproject/private
/resources/lang/en/auth_1.php
/resources/lang/en/pagination_1.php
/resources/lang/en/passwords_1.php
/resources/lang/en/validation_1.php
/material
